{% extends "base.html" %}

{% block titel %}
<title>Комментарий к книге {{book.title}}</title>

{% endblock titel %}
{% block header %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{{book.title}}</h1>
            {%for author in book.authors.all%}
            <p class="lead fw-normal text-white-50 mb-0">{{author}}</p>
            {%endfor%}
        </div>
    </div>
</header>
{% endblock header %}
{% block content %}
{% if pk %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="text-center">
            <h5 class="fw-bolder"><a href="{% url 'parser:work' pk %}"> Вернуться к книге</a></h5>
            <br>
            <h5 class="fw-bolder"><a href="{% url 'parser:comment' pk %}"> Добавить комментарий</a></h5>
        </div>
    </div>
</section>
{%else%}
<br>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <form method="POST" id = 'commentForm'>
            {% csrf_token %}
            {#form.as_p#}
            {% for field in form %}

                <p>{{field.label_tag}}</p>
            <hr>
                {% for error in field.errors %}
                    <p style="color: red">{{error}}</p>
                {% endfor %}
            <p>{{field}}</p>
            {% endfor %}
            <button type="submit" class="btn btn-primary" id="commentButton">Отправить комментарий</button>
        </form>
    </div>
</section>

{%endif%}
{% endblock %}
